<div class="agenda">
  {{#each this}}
    <section class="agenda">
      <div class="meta">
        {{user.username}}
      </div>
      <div class="text">
        {{agenda_text}}
      </div>
    </section>
  {{/each}}
</div>

