<div class="agenda">
  {{#each this}}
    <section class="agenda">
      <div class="meta">
        {{user.username}}
        on
        {{format_date created_at}}
      </div>
      <div class="text">
        {{agenda_text}}
      </div>
      <div>
        <button id="update-agenda-btn" type="submit">Edit event</button>
        <button type="button" class="delete-agenda-btn">Delete event</button>
      </div>
    </section>
  {{/each}}
</div>
<div id="calendar" style="height: 800px"></div>
<script src="/javascript/edit-agenda-item.js"></script>
<script src="/javascript/delete-agenda-item.js"></script>