<div class="packing">
  {{#each this}}
    <section class="packing">
      <div class="meta">
        {{user.username}}
        on
        {{format_date created_at}}
      </div>
      <div class="text">
        {{agenda_text}}
      </div>
    </section>
  {{/each}}
</div>

<div class="series1"> 
    <tr>
    <input type="checkbox" rel="textbox1" name="Underwear" class=test/>
     Underwear</tr>
     <input type="checkbox" rel="textbox1" name="Socks" />
     Socks
     <input type="checkbox" rel="textbox1" name="Undershirts">
     Undershirts
     <input type="checkbox" rel="textbox1" name="Sleepwear">
     Sleepwear
     <input type="checkbox" rel="textbox1" name="T-Shirts">
     T-Shirts
       <input type="checkbox" rel="textbox1" name="Dress-Shirts" class=test/>
     Dress Shirts</tr>
     <input type="checkbox" rel="textbox1" name="Casual-Shirts" />
     Casual Shirts
     <input type="checkbox" rel="textbox1" name="Jeans">
     Jeans
     <input type="checkbox" rel="textbox1" name="Pants">
     Pants
     <input type="checkbox" rel="textbox1" name="Shorts">
     Shorts
     <input type="checkbox" rel="textbox1" name="Dresses">
     Dresses
     <br> 
     
     <input type="checkbox" rel="textbox1" name="Toothbrush">
     Toothbrush
     <input type="checkbox" rel="textbox1" name="Toothpaste">
     Toothpaste
     <input type="checkbox" rel="textbox1" name="Floss">
     Floss
     <input type="checkbox" rel="textbox1" name="Soap">
     Soap
     <input type="checkbox" rel="textbox1" name="Deodorant">
     Deodorant
      <input type="checkbox" rel="textbox1" name="Shampoo/Conditioner">
     Shampoo/Conditioner
     <input type="checkbox" rel="textbox1" name="Brush/Comb">
     Brush/Comb
     <input type="checkbox" rel="textbox1" name="Curler/Blowdryer">
     Curler/Blowdryer
     <input type="checkbox" rel="textbox1" name="Face-wash">
     Face Wash
     <input type="checkbox" rel="textbox1" name="Make-up-wipes">
     Make Up Wipes
     <input type="checkbox" rel="textbox1" name="Sunscreen">
     Sunscreen

     <br>
    
     <input type="checkbox" rel="textbox1" name="Rubber Backers">
     Rubber Backers
     <input type="checkbox" rel="textbox1" name="Spacers">
     Spacers
     <input type="checkbox" rel="textbox1" name="Hinges">
    Hinges
    <input type="checkbox" rel="textbox1" name="Hinge Plates">
    Hinge Plates
    <input type="checkbox" rel="textbox1" name="Finish Paint/Stain">
    Finish Paint/Stain
</div>

<textarea id="textbox1" ></textarea>