<div class="packing">
  {{#each this}}
    <section class="packing">
      <div class="meta">
        {{user.username}}
        on
        {{format_date created_at}}
      </div>
      <div class="text">
        {{agenda_text}}
      </div>
    </section>
  {{/each}}
</div>

<h2>Pack Wisely</h2>

<div class="Packing-Clothes"> 
    <tr>
    <input type="checkbox" rel="textbox1" name="Underwear" class=test/>
     Underwear</tr>
     <input type="checkbox" rel="textbox1" name="Socks" />
     Socks
     <input type="checkbox" rel="textbox1" name="Undershirts">
     Undershirts
     <input type="checkbox" rel="textbox1" name="Sleepwear">
     Sleepwear
     <input type="checkbox" rel="textbox1" name="T-Shirts">
     T-Shirts
       <input type="checkbox" rel="textbox1" name="Dress-Shirts" class=test/>
     Dress Shirts</tr>
     <input type="checkbox" rel="textbox1" name="Casual-Shirts" />
     Casual Shirts
     <input type="checkbox" rel="textbox1" name="Jeans">
     Jeans
     <input type="checkbox" rel="textbox1" name="Pants">
     Pants
     <input type="checkbox" rel="textbox1" name="Shorts">
     Shorts
     <input type="checkbox" rel="textbox1" name="Dresses">
     Dresses
    <input type="checkbox" rel="textbox1" name="Skirts" class=test/>
     Skirts</tr>
     <input type="checkbox" rel="textbox1" name="Sweaters" />
     Sweaters
     <input type="checkbox" rel="textbox1" name="Undershirts">
     Undershirts
     <input type="checkbox" rel="textbox1" name="Formals">
     Formals
     <input type="checkbox" rel="textbox1" name="Swimsuit">
     Swimsuit
       <input type="checkbox" rel="textbox1" name="Coat/Jackets" class=test/>
     Coat/Jackets</tr>
     <input type="checkbox" rel="textbox1" name="Hats" />
     Hats
     <input type="checkbox" rel="textbox1" name="Gloves">
     Gloves
     <input type="checkbox" rel="textbox1" name="Scarves">
     Scarves
     <input type="checkbox" rel="textbox1" name="Umbrella">
     Umbrella
     <input type="checkbox" rel="textbox1" name="Laundry-Bag">
     Laundry Bag
     <input type="checkbox" rel="textbox1" name="Shoes">
     Shoes
     <input type="checkbox" rel="textbox1" name="Toothpaste">
     Toothpaste
     <input type="checkbox" rel="textbox1" name="Dress-Shoes">
     Dress Shoes
     <input type="checkbox" rel="textbox1" name="Belts">
     Belts
     <input type="checkbox" rel="textbox1" name="Ties">
     Ties
     <input type="checkbox" rel="textbox1" name="Jewlery">
     Jewlery
     <input type="checkbox" rel="textbox1" name="Purses">
     Purses
     
     <br> 
     
     <input type="checkbox" rel="textbox1" name="Toothbrush">
     Toothbrush
     <input type="checkbox" rel="textbox1" name="Toothpaste">
     Toothpaste
     <input type="checkbox" rel="textbox1" name="Floss">
     Floss
     <input type="checkbox" rel="textbox1" name="Soap">
     Soap
     <input type="checkbox" rel="textbox1" name="Deodorant">
     Deodorant
      <input type="checkbox" rel="textbox1" name="Shampoo/Conditioner">
     Shampoo/Conditioner
     <input type="checkbox" rel="textbox1" name="Brush/Comb">
     Brush/Comb
     <input type="checkbox" rel="textbox1" name="Curler/Blowdryer">
     Curler/Blowdryer
     <input type="checkbox" rel="textbox1" name="Face-wash">
     Face Wash
     <input type="checkbox" rel="textbox1" name="Make-up-wipes">
     Make Up Wipes
     <input type="checkbox" rel="textbox1" name="Sunscreen">
     Sunscreen
     <input type="checkbox" rel="textbox1" name="Lotion">
     Lotion
     <input type="checkbox" rel="textbox1" name="Contacts">
     Contacts
     <input type="checkbox" rel="textbox1" name="Contact-Solution">
     Contact Solution
     <input type="checkbox" rel="textbox1" name="Shaving-Supplies">
     Shaving Supplies
     <input type="checkbox" rel="textbox1" name="Makeup">
     Makeup
      <input type="checkbox" rel="textbox1" name="Tampons/Pads">
     Tampons/Pads
     <input type="checkbox" rel="textbox1" name="Brush/Comb">
     Brush/Comb
     <input type="checkbox" rel="textbox1" name="Birth-Control">
     Birth Control
     <input type="checkbox" rel="textbox1" name="Nail-Care">
     Nail Care
     <input type="checkbox" rel="textbox1" name="Tweezers">
     Tweezers
     <input type="checkbox" rel="textbox1" name="Hand-Sanitizer">
     Hand Sanitizer
      <input type="checkbox" rel="textbox1" name="Bandages">
     Bandages
     <input type="checkbox" rel="textbox1" name="First-Aid-Kit">
     First-Aid-Kit
     <input type="checkbox" rel="textbox1" name="Birth-Control">
     Birth Control
     <input type="checkbox" rel="textbox1" name="Insect-Repellant">
     Insect-Repellant
     <input type="checkbox" rel="textbox1" name="Meds/Vitamins">
     Meds/Vitamins
     <input type="checkbox" rel="textbox1" name="Pain-Relievers">
     Pain Relievers

     
</div>

<textarea id="textbox1" ></textarea>
<script src="./assets/script.js"></script>