{{! Display for a single packing list item  }}

<form class="animate__animated animate__slideInLeft each-packing-item-form">
  <div>
    {{! figure out checkbox part  }}
    <input name="packing-text{{id}}" type="text" value="{{packing_text}}" />

    <button id="{{id}}" class="update-packing-btn" type="button">↬</button>
    <button type="button" id="{{id}}" class="delete-packing-btn">Ø</button>
  </div>
</form>