<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Be Prepared for Adventure</title>
  <link
      href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />


    <script src="/javascript/calendar.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />

  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/dashboard"> Be Prepared for Adventure </a>
        </h1>
        <nav>
          {{#if loggedIn}}
            {{! add additional nav links?? }}
            <a class="btn-no-style" href="/dashboard">dashboard</a>
            <button id="logout" class="btn-no-style">logout</button>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        <aside class="quote-box">
          <div id="quoteArea">
            {{! populate quote }}
          </div>
          <div>by:
            <span style="font-style:italic;" id="quoteAuthor"></span></div>
        </aside>
      </footer>
    </div>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
    <script src="/javascript/quotes.js"></script>

  </body>

</html>