<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Be Prepared for Adventure</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="flier">
      <img id="airplane" height="50" src="../../suitcase1.png" />
    </div>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/dashboard"> Be Prepared for Adventure </a>
        </h1>
        <nav>
          {{#if loggedIn}}
            {{! add additional nav links  }}
            <a class="btn-no-style" href="/dashboard">dashboard</a>
            <button id="logout" class="btn-no-style">logout</button>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        <aside class="quote-box">
          <div id="quoteArea">
            {{! populate quote }}
          </div>
          <div>by:
            <span style="font-style:italic;" id="quoteAuthor"></span></div>
        </aside>
      </footer>
    </div>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
    <script src="/javascript/quotes.js"></script>
    {{! <script src="/javascript/animatePlane.js"></script> }}
    {{! <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> }}
    {{! <img id="plane" src="https://cdn.pixabay.com/photo/2018/09/13/10/18/aircraft-3674305_640.png" /> }}
    <!-- source: https://pixabay.com/de/flugzeuge-propeller-aircraft-alt-3674305/ -->
  </body>

</html>