<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Be Prepared for Adventure</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/dashboard"> Be Prepared for Adventure </a>
        </h1>
        <nav>
          {{#if loggedIn}}
          {{!-- add additional nav links  --}}
            <a class="btn-no-style" href="/dashboard">Dashboard</a>
             <a class="btn-no-style" href="/agenda">Agenda</a>
             <a class="btn-no-style" href="/new-vacay">New Vacay</a>
            <button id="logout" class="btn-no-style">Logout</button>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        Dreams are Realities Peace, We look forward to helping you plan your next dream getaway. 🥳
      </footer>
    </div>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>