{{!-- calendar view --}}
{{#if loggedIn}}
{{#if agendas.length}}
<section>
  <h2>Your Plans</h2>
  <ol>
    {{#each agendas as |agenda|}}
    <li>
      {{> agenda-item agenda}}
      <a href="/dashboard/agenda/{{id}}" class="edit-agenda">Edit agenda</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
{{!-- {{> agenda vacay.agendas}} --}}

{{else}}
<a href="/homepage">login</a>
{{/if}}



{{#if loggedIn}}
<script src="/javascript/agenda.js"></script>
{{/if}}