<link
  href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css"
  rel="stylesheet"
/>

<div class="hero-cal">
  <h3>An hour of planning can save you 10 hours of doing.</h3>
</div>

<div class="calendar" id="calendar"></div>
<div class="work">
  <button class="edit-vacay nav-v-btn">Edit Vacation</button>
  <button class="packing-list nav-v-btn">Packing List</button>
</div>

<div id="calendar">

</div>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.js"></script>
<script src="/javascript/nav-btns.js"></script>