<section>

  <h2>Create New Vacation</h2>

  <form class="new-vacay-form">
    <div>
      <label for="vacay-title">Title</label>
      <input type="text" id="vacay-title" name="vacay-title" />
            <label for="vacay-start">Start</label>
      <input type="date" id="vacay-start" name="vacay-start" />
            <label for="vacay-end">End</label>
      <input type="date" id="vacay-end" name="vacay-end" />
            <label for="vacay-destination">Destination</label>
      <input type="text" id="vacay-destination" name="vacay-destination" />
    </div>

    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if vacays.length}}
<section>
  <h2>Your Vacations</h2>
  <ol>
    {{#each vacays as |vacay|}}
    <li>
      {{> vacay-info vacay}}
      <a href="/dashboard/edit/{{vacay.id}}" class="edit-link">Edit Vacation</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

  <div class="car">
    
    <img height="80px" src="https://media.istockphoto.com/photos/vacation-and-travel-picture-id674613040?k=20&m=674613040&s=612x612&w=0&h=m3OoQIKgafJdDgk6OFIpvhWUupB2-uoW0aCBg65bZSg="/>
  </div>

<script src="/javascript/add-vacay.js"></script>