{{!*working version }}
<div class="flier">

  <img
    height="80px"
    src="https://media.istockphoto.com/photos/flying-suitcase-picture-id1204192345?k=20&m=1204192345&s=612x612&w=0&h=TiY2f11VOKy9-lltxQvJ-4P9Li5AamQPd7VjeiYPKMw="
  />

  {{! <img height="100px" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/best-luggage-1554348191.png?crop=0.502xw:1.00xh;0.250xw,0&resize=640:*"/> }}
</div>
<form class="login-form">
  <div>
    <label for="username-login">username:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>