{{#if loggedIn}}
{{> vacay-info vacay}}

{{> agenda vacay.agendas}}
<form class="edit-vacay-form">
  <div>
    <button type="submit">edit vacation</button>
  </div>
</form>
{{else}}
<a href="/homepage">login</a>
{{/if}}



{{#if loggedIn}}
<script src="/javascript/edit-vacay.js"></script>
<script src="/javascript/agenda.js"></script>
{{/if}}