{{> vacay-info vacay}}

{{#if loggedIn}}
<form class="vacay-form">
  <div>
    <textarea name="vacay-body"></textarea>
  </div>

  <div>
    <button type="submit">add vacation</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}