.hero-hpg {
    border-radius: 15px;
    background-image: url(../img/vacay-hero.jpeg);
    background-size: cover;
    background-position: 45% 55%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: scroll;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}