/* HOMEPAGE HERO SECTION */

.hero-hpg {
    border-radius: 15px;
    background-image: url(../img/vacay-hero.jpeg);
    background-size: cover;
    background-position: 45% 55%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: scroll;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.hero-hpg form {
    column-gap: 10px;
    margin: 60px;
    padding: 20px 20px;
}

/* CALENDAR PAGE HERO SECTION */

.hero-cal {
    border-radius: 10px;
    background-image: url(../img/vacay-hero.jpeg);
    background-size: cover;
    background-position: 35% 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: scroll;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    margin: 15px 10px;
}

.hero-cal h3 {
    color: #EDFAFE;
    font-size: 20px;
    font-style: oblique;
    margin: 10px 15px;
    padding: 10px;
}

.calendar {
    border: 3px solid #10495A;
    margin: 5px 5px;
    padding: 10px 10px;
    color: #10495A;
}

.work button {
    color: #fff;
    background-color: #10495A;
}

.work button:hover {
    background-color: #2F8CA8;
}

/* PACKING LIST PAGE STYLES */
.hero-pack {
    border-radius: 10px;
    background-image: url(../img/packing-list.jpeg);
    background-size: cover;
    background-position: 35% 75%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: scroll;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    margin: 30px 10px;
    padding: 50px 50px;
}

.hero-pack h2 {
    font-style: italic;
    color: #EDFAFE;
    font-size: 40px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 50px 30px;
    margin: 30px 45px;
}

.packing-item-form input {
    width: 100%;
}

.packing-item-form input:hover {
    background-color: #DEF1FA;
}

.packing-item-form button {
    background-color: #10495A;
}

.packing-item-form button:hover {
    background-color: #2F8CA8;
}

.packing-item-form {
    border-radius: 10px;
    margin-top: 30px;
    padding: 25px;
    background-color: #EDFAFE;
    color: #10495A;
    border: 3px solid #10495A;
}

.listed-items {
    margin: 30px 20px;
    padding: 20px 10px;
}
.nav-v-btn {
  color: navy;
  background-color: bisque;
}
